<html>
    <div class="well">
        <h3>Details Page</h3>
        <p>This page displays a series of tabs, which allow the user to hide and unhide divs containing third-party library visual data representations</p>
    </div>
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" ng-class='{"active":ctrl.tab=="Pie"}'>
            <a href ng-click="ctrl.tab = 'Pie'" role = "tab">Pie</a>
        </li> 

        <li role="presentation" ng-class='{"active":ctrl.tab=="Line"}'>
            <a href ng-click="ctrl.tab = 'Line'" role = "tab">Line</a>
        </li>

        <li role="presentation" ng-class='{"active":ctrl.tab=="Bars"}'>
            <a href ng-click="ctrl.tab = 'Bars'" role = "tab">Bars</a>
        </li>
    </ul>
    
    <div ng-show="ctrl.tab == 'Pie'">
        <h3>Pie</h3>    
        <p>Basic pie charts using the N3 library (AngularJS adaptation of popular D3 library)</p>
        <div class = "piecontainer">
            <pie-chart class="pie" data="ctrl.piedata" options="ctrl.pieoptions"></pie-chart>
        </div>
        <div class = "piecontainer col-xs-6 col-md-6">
            <pie-chart class="pie" data="ctrl.piedata" options="ctrl.pieoptions"></pie-chart>
        </div>
        <div class = "piecontainer col-xs-6 col-md-6">
            <pie-chart class="pie" data="ctrl.piedata" options="ctrl.pieoptions"></pie-chart>
        </div>
        <div class = "piecontainer col-xs-6 col-md-6">
            <pie-chart class="pie" data="ctrl.piedata" options="ctrl.pieoptions"></pie-chart>
        </div>
    </div>
    
    <div ng-show="ctrl.tab == 'Line'">
        <h3>Line</h3>    
        <p>Basic line charts using the N3 library (AngularJS adaptation of popular D3 library)</p>
    </div>
    
    <div ng-show="ctrl.tab == 'Bars'">
        <h3>Chart</h3>    
        <p>Loading bars using Bootstrap's own loading bar CSS alterations</p>
    </div>
</html>