<html>
    <div class="well">
        <h3>Details Page</h3>
        <p>This page displays a series of tabs, which allow the user to hide and unhide divs containing third-party library visual data representations</p>
    </div>
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" ng-class='{"active":ctrl.tab=="Pie"}'>
            <a href ng-click="ctrl.tab = 'Pie'" role = "tab">Pie</a>
        </li> 

        <li role="presentation" ng-class='{"active":ctrl.tab=="Line"}'>
            <a href ng-click="ctrl.tab = 'Line'" role = "tab">Line</a>
        </li>

        <li role="presentation" ng-class='{"active":ctrl.tab=="Bars"}'>
            <a href ng-click="ctrl.tab = 'Bars'" role = "tab">Bars</a>
        </li>
    </ul>
    
    <div ng-show="ctrl.tab == 'Pie'">
        <h3>Pie</h3>    
        <p>Basic pie charts using the N3 library (AngularJS adaptation of popular D3 library)</p>
        <div class = "piecontainer">
            <pie-chart class="pie" data="ctrl.bigpiedata" options="ctrl.pieoptionsA"></pie-chart>
        </div>
        <div class = "custompiecontainer">
            <pie-chart class="pie" data="ctrl.leftpiedata" options="ctrl.pieoptionsA"></pie-chart>
        </div>
        <div class = "custompiecontainer">
            <pie-chart class="guage" data="ctrl.guagedata" options="ctrl.guageoptions"></pie-chart>
        </div>
        <div class = "custompiecontainer">
            <pie-chart class="pie" data="ctrl.bigpiedata" options="ctrl.pieoptionsB"></pie-chart>
        </div>
    </div>
    
    <div ng-show="ctrl.tab == 'Line'">
        <h3>Line</h3>    
        <p>Basic line charts using the N3 library (AngularJS adaptation of popular D3 library)</p>
        <linechart data="ctrl.linedata" options="ctrl.lineoptions" width="1000" height="450"></linechart>
    </div>
    
    <div ng-show="ctrl.tab == 'Bars'">
        <h3>Chart</h3>    
        <p>Loading bars using Bootstrap's own loading bar CSS alterations</p>
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: {{ ctrl.bardata[0] }}%">
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" style="width: {{ ctrl.bardata[1] }}%">
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width: {{ ctrl.bardata[2] }}%">
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width: {{ ctrl.bardata[3] }}%">
              </div>
            </div>
    </div>
</html>