<html>
    <div class="panel-default">
        <form ng-submit="ctrl.submit()" name="loginForm">
            <div class="panel-body tab-panel">
                <table class="login-table">
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input ng-model="ctrl.user.username" type="text" placeholder="Enter username" required></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input ng-model="ctrl.user.password" type="password" placeholder="Enter password" required></td>
                    </tr>   
                </table>
            </div>
            <input class="btn btn-lg btn-success btn-block" ng-disabled="loginForm.$invalid" type="submit" value="Log In">
        </form>
    </div>
    <a class="btn btn-lg btn-primary btn-block btn-signup" href="#/register" type="button" >New User? Register Here</a>
</html>