<html>
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to Uncat</h1>
            <h3>Ucl Nhs Cloud Application Template</h3>
            <p>A basic AngularJS/Bootstrap template designed for the development of NHS cloud applications<p>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#/insert" class="thumbnail">
                <div class="caption">
                    <h3>Insert</h3>
                    <p>Page containing an example form with a variety of HTML input and ng-model controls.</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#/display" class="thumbnail">
                <div class="caption">
                    <h3>Display</h3>
                    <p>Page containing an example display page with a variety of textual information</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#/details" class="thumbnail">
                <div class="caption">
                    <h3>Details</h3>
                    <p>Page containing a second example diplay page, but with visual information and tabbed views</p>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#/select" class="thumbnail">
                <div class="caption">
                    <h3>Select</h3>
                    <p>Page containing the same HTML View as Display, but with added functionality</p>
                </div>
            </a>
        </div>
    </div>
</html>